@model IEnumerable<NetBankAppV1.Models.Transaction>

<h2>Display selected date for transcation.</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransactionDateRange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <span><strong>Account Number: </strong> </span>
                @ViewBag.Accounts
            </div><br>
            <div>
                <span><strong>Account Balance: $</strong> </span>
                @ViewBag.Balance
            </div><br>
            <div class="form-group">
                <label for="start" class="control-label">Start date: </label>
                <input type="date" name="from" id="start" class="form-control" />
                <span validation-for="start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="end" class="control-label">End date: </label>
                <input type="date" id="end" name="to" class="form-control" />
                <span validation-for="end" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranscationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranscationType)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.amount)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Accounts" asp-action="Index">Back to List</a>
</div>

